body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    display: flex;
    justify-content: center;
}
#grid-container{
    display: flex;
    flex-direction: column;
    
    align-items: center;    
    width: 100%;
    padding: 10px;
}
.grid-row{
display: flex;
height: 70px;
margin: 1px;

}
.grid-col{
    width: 70px;
    height: 70px;
    display: inline-block;
    margin: 1px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    background-color: antiquewhite;
}